body {
   margin: 0;
   padding: 0;
   background-image: url('http://szuflandia.pjwstk.edu.pl/~s10582/anime.jpg');
   font-family: Helvetica, sans-serif;
   font-size: 14px;
   color:#333;
}
a {
	text-decoration:none;
}
.heading {
  padding: 15px 0px 5px;
  margin:5px auto 0px;
  width:960px;
  height: 50px;
  background-image: url('http://szuflandia.pjwstk.edu.pl/~s10582/anime.jpg');
  border-bottom: 2px solid #333;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.menu {
  margin:0 auto 10px;
  padding: 0; 
  border: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
  width: 960px;
  background-image: url('http://szuflandia.pjwstk.edu.pl/~s10582/anime.jpg');
  text-align:center;
}
.menu ul {
	margin:0px;
	padding: 5px 0 0;
}
.menu ul li {
  display:inline;
  padding: 5px;
  margin-right:5px;
  height:100%;
}
.menu ul li a {
  font-size: 16px;
  font-family:Helvetica, sans-serif;
  color:#333;
}
.menu li a:hover {
  color:#999;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}


.menuAndContent {
}

.content {
  margin:0 auto 0;
  padding: 20px 80px 20px; 
  width:800px;
  height: 500px;
  border: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: url('http://szuflandia.pjwstk.edu.pl/~s10582/anime.jpg');	
  line-height:25px;
  font-size: 16px;
}
